:root {
    --fondo: gray;
    --texto: whitesmoke;
    --fondo-oscuro: #2D2C31;
  }
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: soli;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--fondo-oscuro);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
li {
  float: right;
  border-left: 1px solid var(--fondo);
}
.nav-link {
    display: block;
    color: var(--texto);
    text-decoration: none;
    padding: 20px 25px;
}
.nav-link:hover {
    background-color: var(--fondo);
}
#welcome-section {
    height: 100vh;
    background-color: var(--fondo);
}
h1, h3, h2 {
    color: var(--texto);
    text-align: center;
}
h1 {
    padding: 30% 0 15px 0;
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h2 {
    padding: 30px 0;
    font-size: 3.5rem;
  }
#proyects {
    background-color: var(--fondo-oscuro);    
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 50px;
    padding: 40px 20px;
}
div.proyecto {
    display: table;
    width: 100%;
    max-width: 350px;
    height: 300px;
    
}

img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;

}
.proyecto span {
    line-height: normal;
    display: table-caption;
    background: var(--fondo);
    color: var(--texto);
    padding: 5px;
    text-align: center;
    width: 350px;
}
.proyecto span:hover {
    background-color: var(--fondo-oscuro);
}
.github {
    padding-bottom: 50px;  
}
.github a {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--fondo);
    color: var(--texto);
    padding: 15px;
    width: 80px;
    display: block;
    margin: 0 auto;
}
.github a:hover {
    background-color: var(--fondo-oscuro);
}
#profile-link {
    background-color: var(--fondo);
}
.contato {
    padding-top: 50px;
}
.social-icons {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
i {
    font-size: 3.5rem;
    margin: 0px;
    color: var(--texto);
}
.social-icons a {
    margin: 20px 50px;
}
@media only screen and (max-width: 920px) {
    h1 {
        font-size: 3.5rem;
        padding: 40% 0 15px 0;
    }
    h2 {
        font-size: 2.8rem;
    }
    h3 {
    font-size: 2.5rem;
    }
    i {
        font-size: 3rem;
    }
}
